@font-face {
  font-family: "SpaceMono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SpaceMono/SpaceMono-Regular.ttf"), local("ttf");
  font-display: swap;
}

@font-face {
  font-family: "SpaceMono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/SpaceMono/SpaceMono-Bold.ttf"), local("ttf");
  font-display: swap;
}
